<!-- my-library.html -->
<div class="library">
  <p>You will find your movies here</p>

  <!-- Watched Movies Section -->
  <section id="watchedListSection">
    <h2>Watched Movies</h2>
    <div class="movies-list" id="watchedList"></div>
    <button id="showWatchedListBtn">Show Watched Movies</button>
    <button id="clearWatchedListBtn">Clear Watched Movies</button>
  </section>

  <!-- Queue Section -->
  <section id="queueListSection">
    <h2>Queue</h2>
    <div class="movies-list" id="queueList"></div>
    <button id="showQueueListBtn">Show Queue</button>
    <button id="clearQueueListBtn">Clear Queue</button>
  </section>
</div>
